/bin/
/target/
tmp/*
!tmp/keepthis.txt
/javadocs/
/.settings/
/.idea/
/mylog*.txt
mylog.txt.*
mylog*.txt.*
logFile
logMultiLayer
.project
.classpath
.idea/
pitresults/
heat map/
evosuite-report/
evosuite-tests/
*.iml
**/.DS_Store
__pycache__/
